body{
	background-image: url("../images/stars.jpg");
  	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  	background-size: cover;
	background-attachment: fixed;
	min-height: 100%
	-webkit-text-size-adjust: none;
  	overflow-x: hidden;
  	padding: 20px 0px 0px 20px;
  	text-align: center;
 
}

img{
	display: inline-block;
}

.login{
	padding: 20px 0px 0px 20px;
	font-size: 40px;
}